<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommendations</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h2>Showing movies</h2>
    <ol class="movies">
    {%for movies in recommendation%}
    <li>{{movies}}</li>
    {%endfor%}
    </ol>
    <br>
    <a href="/">Go back to main page</a>
</body>
</html>